{% extends '!layout.html' %}

{% block footer %}
<div class="container">
  <div class="row">
    <div class="col d-flex flex-row-reverse">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/common-workflow-language/user_guide/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/common-workflow-language/user_guide/blob/main/CONTRIBUTING.md">Contributing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/common-workflow-language/user_guide/">Source</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/common-workflow-language/user_guide/blob/main/CITATION.md">Cite</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{{ super() }}
{% endblock %}
