name: GitHub Pages sphinx deployment

on:
  push:
    branches:
      - release
  workflow_dispatch:

# NOTE: If you modify this file to install a package with pip or apt, please
#       verify if we need the same package added to our readthedocs build.
jobs:
  # Ref: https://stackoverflow.com/questions/57989790/using-github-actions-to-publish-documentation
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install apt packages
        run: |
          sudo apt-get install -y graphviz

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Upgrade pip
        run: |
          # pip >= 20.1 so we can use ``pip cache dir``
          python3 -m pip install --upgrade pip
      - name: Get pip cache dir
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: python3 -m pip install -U -e .[all]

      - name: pre-pull container images
        run: make container-pull

      - name: Build documentation
        run: make html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html/
          publish_branch: gh-pages
